{% extends "base.html" %}

{% block head_title %}
    Restaurants ||
    {{ block.super }}
{% endblock head_title %}

{% block content %}

<section id="callaction" class="home-section paddingtop-90 paddingbot-10">	
        <div class="container">
             <div class="row">
                 <div class="col-md-12">
                     <div class="callaction bg-gray">
                         <div class="row">
                            <h1>My Restaurants <br/><small><a href="{% url 'restaurants:create' %}">Add Restaurant</a></small></h1>
                         </div>
                         <div class="row">
                             <ul>
                                {% for object in object_list %}
                                    <li><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></li>
                                {% empty %}
                                    <li><a href="{% url 'restaurants:create' %}">Add One Restaurant</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                     </div>
                 </div>
             </div>
         </div>
 </section>	

{% endblock content %}