{% load staticfiles %}
<script src="{% static "js/jquery.min.js" %}"></script>	 
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/jquery.easing.min.js" %}"></script>
<script src="{% static "js/wow.min.js" %}"></script>
<script src="{% static "js/jquery.scrollTo.js" %}"></script>
<script src="{% static "js/jquery.appear.js" %}"></script>
<script src="{% static "js/stellar.js" %}"></script>
<script src="{% static "plugins/cubeportfolio/js/jquery.cubeportfolio.min.js" %}"></script>
<script src="{% static "js/owl.carousel.min.js" %}"></script>
<script src="{% static "js/nivo-lightbox.min.js" %}"></script>
<script src="{% static "js/custom.js" %}"></script>